.field{
    width: 900px;
    height: 500px;
}

.spaceship {
    position: relative;
    display: flex;
}

.alien {
    position: relative;
    display: flex;
}

.orb{
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
}

.gameStartField{
    position: relative;
    width: 900px;
    height: 500px;
    top: -76px;
    right: 8px;
}

.gameOverImage{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
    top: -425px;
}

.winner{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 250x;
    height: 75px;
    top: -425px;
}